<h2><%= @albums[0].genre_name %> Albums</h1>

<table class="h-table genre-album-table">
    <th>Album Title</th>
    <th>Album Name</th>

<% @albums.each do |album| %>

<tr>
  <td>
    <a href="/albums/<%= album.id %>"><%= album.title %></a>
  </td>



  <td>
    <a href="/artists/<%= album.artist_id %>"><%= album.artist_name %>
  </td>
</tr>

  <%end%>
