<h1>Update Album</h1>

<form method="post" action="/albums/<%= @album.id%>">

  <label for="album-title">Album Title:</label>
  <input type="text" name="title" id="album-title" value="<%= @album.title%>"/>

  <select name="artist_id">
    <% @artists.each do |artist| %>
      <% if artist.id == @album.artist_id %>
        <option value=<%= artist.id %> selected ><%= artist.name %></option>
      <% else %>
        <option value=<%= artist.id %> ><%= artist.name %></option>
      <% end %>
    <% end %>
  </select>
  </label>


  <select name="genre_id">
    <% @genres.each do |genre| %>
      <% if genre.id == @album.genre_id %>
        <option value=<%= genre.id %> selected ><%= genre.name %></option>
      <% else %>
        <option value=<%= genre.id %> ><%= genre.name %></option>
      <% end %>
    <% end %>
  </select>
  </label>








  <label for="album-quantity">Quantity:</label>
  <input type="number" name="quantity" id="album-quantity" value="<%= @album.quantity%>"/>

  <label for="album-buy_cost">Buy Cost:</label>
  <input type="DECIMAL" name="buy_cost" id="album-buy_cost" value="<%= @album.buy_cost%>" />

  <label for="album-quantity">Mark Up (%):</label>
  <input type="number" name="mark_up" id="album-markup" value="<%= @album.mark_up%>"/>

  <label for="album-url">Album Image:</label>
  <input type="text" name="url" id="album-url" value="<%= @album.url%>"/>





<input type="submit" value="Update Album">
</form>
