<h2>Update Album</h2>



<form method="post" action="/albums/<%= @album.id%>">

  <div class="container">

    <div class="col">
      <img src="<%= @album.url %>" alt="logo" class="album-pic" id="album" width="300px" height="300px">

    </div>
    <div class="col1">
      <table class="v-table show-table" id = "table">
        <tr>
          <th>Album Title:</th>
          <td>
            <input type="text" name="title" id="album-title" value="<%= @album.title%>"/>
          </td>
        </tr>
          <th>Artist Name:</th>
          <td>
            <select name="artist_id">
                <% @artists.each do |artist| %>
                  <% if artist.id == @album.artist_id %>
                    <option value=<%= artist.id %> selected ><%= artist.name %></option>
                  <% else %>
                    <option value=<%= artist.id %> ><%= artist.name %></option>
                  <% end %>
                <% end %>
              </select>
              </label>
            </td>
        <tr>



          <th>Genre:</th>
          <td>

              <select name="genre_id">
                <% @genres.each do |genre| %>
                  <% if genre.id == @album.genre_id %>
                    <option value=<%= genre.id %> selected ><%= genre.name %></option>
                  <% else %>
                    <option value=<%= genre.id %> ><%= genre.name %></option>
                  <% end %>
                <% end %>
              </select>
              </label>

          </td>
        </tr>

        <tr>
          <th>Gross Cost:</th>
          <td>
              £ <input type="DECIMAL" name="buy_cost" id="album-buy_cost" value="<%= @album.buy_cost%>" />
          </td>
        </tr>
        <tr>
          <th>Album URL:</th>
          <td>
            <input type="text" name="url" id="album-url" value="<%= @album.url%>"/>
          </td>
        </tr>
        <tr>
          <th>Quantity:</th>
          <td>
            <input type="number" name="quantity" id="album-quantity" value="<%= @album.quantity%>"/>
          </td>
        </tr>
        <tr>
          <th>Mark Up:</th>
          <td><input type="number" name="mark_up" id="album-markup" value="<%= @album.mark_up%>"/></td>
        </tr>

      </table>
    </div>
  </div>













<input type="submit" value="UPDATE" class="big-button edit-button">
</form>
