<h1>Albums</h1>

<% for album in @albums %>
  <p><%= album.title %></p>
  <p><%= album.artist_id %></p>
  <p><%= album.quantity %></p>

  <form method="get" action="/albums/<%= album.id %>/edit">
    <input type="submit" value="Edit Album"/>
  </form>
  <form method="post" action="/artists/<%= album.id %>/delete">
    <input type="submit" value="Delete Album"/>
  </form>


  <%end%>
