<p> Album title: <%= @album.title %> </p>
<p> Artist Name: <%= @album.artist_name %> </p>
<p> Quantity: <%= @album.quantity %> </p>
<p> Stock Level: <%= @album.stock_level %> </p>
<p> Gross Cost: £<%= @album.buy_cost %> </p>
<p> Sell Price: £<%= @album.sell_price %> </p>
<p><img src="<%= @album.url %>" alt="logo"> </p>
