<h2>View Album</h2>
<div class="container">

  <div class="col">
    <img src="<%= @album.url %>" alt="logo" class="album-pic" id="album" width="316px" height="316px">

  </div>

  <div class="col1">
    <table class="v-table show-table" id = "table">
      <tr>
        <th>Album Title:</th>
        <td><%= @album.title %></td>
      </tr>
        <th>Artist Name:</th>
        <td><%= @album.artist_name %></td>
      <tr>
        <th>Quantity:</th>
        <td><%= @album.quantity %></td>
      </tr>
      <tr>
        <th>Stock Level:</th>
        <td><%= @album.stock_level %></td>
      </tr>
      <tr>
        <th>Gross Cost:</th>
        <td>£<%= @album.buy_cost %></td>
      </tr>
      <tr>
        <th>Sell Price:</th>
        <td>£<%= @album.sell_price %></td>
      </tr>
      <tr>
        <th>Last Bought:</th>
        <td><%= @album.last_bought %></td>
      </tr>
      <tr>
        <th>Mark Up:</th>
        <td><%= @album.mark_up %>%</td>
      </tr>

    </table>
  </div>

</div>

<div class="container-buttons">

  <form method="post" action="/albums/<%= @album.id%>/sell">
    <input type="submit" value="Sell Album" class="big-button sell-button"/>
  </form>

  <form method="get" action="/albums/<%= @album.id %>/edit">
    <input type="submit" value="Edit Album" class="big-button edit-button"/>
  </form>

  <form method="get" action="/albums/<%= @album.id %>/delete">
    <input type="submit" value="Delete Album" class="big-button delete-button"/>
  </form>

</div>
